.video{
  margin-bottom: 20px;
  padding: 12px;
  font-weight: 500;
  width: 300px;
  font-size: 0.9 rem;
  cursor: pointer;

  &__top{
    margin-bottom: 8px;
    position: relative;
    img{
      width: 100%;
    }
    span{
      position: absolute;
      z-index: 100;
      bottom: 4px;
      right: 12px;
      background-color: #000;
      padding: 0.2 rem;
      border-radius: 3px;
    }
  }

  &__title{
    margin-bottom: 4px;
    color: #fff;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__details{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__channel{
    display: flex;
    align-items: center;
    margin: 4px 0;
    gap: 20px;

    img{
      border-radius: 50%;
      width: 36px;
      height: 36px;
    }
  }
}