.header{
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 20px;
  &__search{
    flex: 2;
  }
  &__logo{
    flex: 1;
  }
  &__menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  &__form{
    display: flex;
  }
}

.header__form__input{
  width: 90%;
  background: #16181b;
  border-right: 0;
}
.header__form__button{
  width: 10%;
  background: #16181b;
  border-left: 0;
  color:#b1bdb4;
}